In [2]:
import pandas as pd

# Load your TSV file (update path as needed)
df = pd.read_excel(r"D:\vr-pipeline\data\Participants.tsv.xlsx", header=2)

# Clean participant IDs: keep only last 6 characters (e.g., EK_401)
df['Studien-ID'] = df['Studien-ID'].str[-6:]
df = pd.DataFrame({
    'participant_id': df['Studien-ID'].tolist() * 2,  # repeat each participant twice
    'session': [1] * len(df) + [2] * len(df),      # session 1 for first set, 2 for second
    'drink': pd.concat([df['Drink intervention 1'], df['Drink intervention 2']], ignore_index=True)
})
df = df.iloc[1:].reset_index(drop=True)
df.replace({'Eris': 'ketone', 'Atlas': 'placebo'}, inplace=True)
df

   participant_id  session    drink
0          EK_401        1  placebo
1          EK_951        1  placebo
2          EK_578        1   ketone
3          EK_478        1   ketone
4          EK_259        1  placebo
..            ...      ...      ...
86         EK_597        2   ketone
87         EK_524        2   ketone
88         EK_427        2  placebo
89         EK_347        2  placebo
90         EK_898        2   ketone

[91 rows x 3 columns]

In [3]:
df.tail()

   participant_id  session    drink
86         EK_597        2   ketone
87         EK_524        2   ketone
88         EK_427        2  placebo
89         EK_347        2  placebo
90         EK_898        2   ketone

In [4]:
df2=pd.read_csv(r'D:\vr-pipeline\data\results\28052025_segment_data_t123_30s_30s.csv')
merged_df = df2.merge(df, on=['participant_id', 'session'], how='left')

In [5]:
merged_df

,participant_id,session,trial,version,segment,center_dist,edge_dist,speed,acceleration,stops_count,...,max_distance,area_covered,rmssd,hr,safe_area_coverage,unsafe_area_coverage,safe_time_spent,unsafe_time_spent,outside_time_spent,drink
0,EK_207,1,7,2,0,2.355671,0.789244,0.296164,9.405527,2,...,5.705291,4.963394,33.681034,62.813522,NaN,NaN,NaN,NaN,NaN,ketone
1,EK_207,1,7,2,1,1.880632,0.743560,0.399738,14.541252,3,...,5.324522,6.146904,45.989836,66.946336,NaN,NaN,NaN,NaN,NaN,ketone
2,EK_207,1,7,2,2,1.132289,0.527017,0.196477,3.986962,3,...,1.561600,2.747266,36.804710,64.835774,NaN,NaN,NaN,NaN,NaN,ketone
3,EK_207,1,11,2,0,1.050639,0.468610,0.237257,1.628357,2,...,2.517314,0.134253,45.989836,66.946336,15.693327,8.435169,18.3039,12.6964,0.000,ketone
4,EK_207,1,11,2,1,2.344545,0.165271,0.199230,1.131540,1,...,2.597367,0.361368,36.804710,64.835774,1.385531,12.585915,1.2597,26.6882,3.039,ketone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,EK_945,2,11,1,1,1.987132,0.166757,0.263280,-0.039263,3,...,3.512817,0.297748,42.859787,69.640125,3.088587,23.711788,2.3330,28.1530,0.509,ketone
338,EK_945,2,11,1,2,1.773835,0.408965,0.303469,-0.183124,1,...,4.691114,0.226294,16.849148,78.758875,10.032229,22.987647,6.0020,24.9810,0.000,ketone
339,EK_945,2,15,1,0,2.250900,0.668780,0.286806,0.116807,2,...,5.174471,5.895687,29.902593,73.649441,NaN,NaN,NaN,NaN,NaN,ketone
340,EK_945,2,15,1,1,2.207613,0.641553,0.396273,0.169952,0,...,5.731384,8.550684,40.611520,74.274662,NaN,NaN,NaN,NaN,NaN,ketone
341,EK_945,2,15,1,2,2.303946,0.764128,0.439307,0.274808,0,...,6.907040,9.505567,42.859787,69.640125,NaN,NaN,NaN,NaN,NaN,ketone

In [6]:
merged_df.to_csv(r'D:\vr-pipeline\data\results\28052025_segment_data_t123_30s_30s_ketone.csv', index=False)

In [7]:
df2=pd.read_csv(r'D:\vr-pipeline\data\results\28052025_segment_data_t123_90s_1s.csv')
merged_df = df2.merge(df, on=['participant_id', 'session'], how='left')

In [8]:
merged_df.to_csv(r'D:\vr-pipeline\data\results\28052025_segment_data_t123_90s_1s_ketone.csv', index=False)

In [9]:
df2=pd.read_csv(r'D:\vr-pipeline\data\results\28052025_segment_data_t123_45s_45s.csv')
merged_df = df2.merge(df, on=['participant_id', 'session'], how='left')

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\vr-pipeline\\data\\results\\28052025_segment_data_t123_45s_45s.csv'

In [ ]:
merged_df.to_csv(r'D:\vr-pipeline\data\results\28052025_segment_data_t123_45s_45s_ketone.csv', index=False)